@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

.box-shadow{
  box-shadow: 3px 3px #097c70;
  ;
}


.font-family{
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 30px;
}

.font-fam {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 18px;
}

.text {
  font-size: 20px;
}

.font {
  font-family: "Bricolage Grotesque", sans-serif;

}
.font-head {
  font-family: "Bricolage Grotesque", sans-serif;


}

.pricing {
  padding: 60px 0 80px;
}

.section-heading {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

